In [5]:
# Imported the dataset
from datasets import load_dataset
dataset = load_dataset("ai4privacy/pii-masking-300k")

In [3]:
# Inspect the dataset
print(type(dataset))
print(dataset.shape)

<class 'datasets.dataset_dict.DatasetDict'>
{'train': (177677, 9), 'validation': (47728, 9)}

In [7]:
# Split the dataset into two datasets
train = dataset['train']  
validation = dataset['validation']

In [24]:
# Check what type is 'train'
type(train)

datasets.arrow_dataset.Dataset

In [13]:
# Convert the 'train' dataset to a dataframe
train_df = train.to_pandas()

In [26]:
# Check if train_df is a df
type(train_df)

pandas.core.frame.DataFrame

In [21]:
# Inspect the df
train_df.head(10)

,source_text,target_text,privacy_mask,span_labels,mbert_text_tokens,mbert_bio_labels,id,language,set
0,Subject: Group Messaging for Admissions Proces...,Subject: Group Messaging for Admissions Proces...,"[{'value': 'wynqvrh053', 'start': 287, 'end': ...","[[440, 453, ""USERNAME""], [430, 437, ""TIME""], [...","[Sub, ##ject, :, Group, Mess, ##aging, for, Ad...","[O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, ...",40767A,English,train
1,- Meeting at 2:33 PM\n- N23 - Meeting at 11:29...,- Meeting at [TIME]\n- [USERNAME] - Meeting at...,"[{'value': '2:33 PM', 'start': 13, 'end': 20, ...","[[74, 81, ""TIME""], [50, 60, ""USERNAME""], [40, ...","[-, Meeting, at, 2, :, 33, PM, -, N, ##23, -, ...","[O, O, O, B-TIME, I-TIME, I-TIME, I-TIME, O, O...",40767B,English,train
2,Subject: Admission Notification - Great Britai...,Subject: Admission Notification - Great Britai...,"[{'value': '5:24am', 'start': 263, 'end': 269,...","[[395, 407, ""SOCIALNUMBER""], [358, 375, ""EMAIL...","[Sub, ##ject, :, Ad, ##mission, Not, ##ificati...","[O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, ...",40768A,English,train
3,Card: KB90324ER\n Country: GB\n Building: ...,Card: [IDCARD]\n Country: [COUNTRY]\n Buil...,"[{'value': 'KB90324ER', 'start': 6, 'end': 15,...","[[390, 393, ""STATE""], [368, 378, ""CITY""], [346...","[Card, :, KB, ##90, ##32, ##4, ##ER, \, n, Cou...","[O, O, B-IDCARD, I-IDCARD, I-IDCARD, I-IDCARD,...",40768B,English,train
4,"N, WA14 5RW\n Password: r]iD1#8\n\n...and so...","N, WA14 5RW\n Password: [PASS]\n\n...and so ...","[{'value': 'r]iD1#8', 'start': 26, 'end': 33, ...","[[336, 352, ""DATE""], [26, 33, ""PASS""]]","[N, ,, W, ##A, ##14, 5, ##R, ##W, \, n, Pass, ...","[O, O, O, O, O, O, O, O, O, O, O, O, O, B-PASS...",40768C,English,train
5,Subject: Admission Application Attachments Con...,Subject: Admission Application Attachments Con...,"[{'value': '301025226', 'start': 311, 'end': 3...","[[311, 320, ""PASSPORT""]]","[Sub, ##ject, :, Ad, ##mission, Application, A...","[O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, ...",40769A,English,train
6,981\n- Social Security Number: 554.575.9355\n-...,981\n- Social Security Number: [SOCIALNUMBER]\...,"[{'value': '554.575.9355', 'start': 30, 'end':...","[[263, 279, ""TEL""], [226, 249, ""EMAIL""], [206,...","[981, -, Social, Security, Number, :, 554, ., ...","[O, O, O, O, O, O, O, O, B-SOCIALNUMBER, I-SOC...",40769B,English,train
7,s carefully and inform us immediately if there...,s carefully and inform us immediately if there...,"[{'value': 'Rue des Écoles', 'start': 320, 'en...","[[342, 354, ""DATE""], [338, 340, ""TIME""], [320,...","[s, care, ##fully, and, info, ##rm, us, immedi...","[O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, ...",40769C,English,train
8,"- id_1:\n Feb 8, 1986\n iloweintögl\n 4929-...",- id_1:\n [BOD]\n [USERNAME]\n [TEL]\n Det...,"[{'value': 'Feb 8, 1986', 'start': 10, 'end': ...","[[287, 300, ""TEL""], [280, 284, ""USERNAME""], [2...","[-, id, _, 1, :, Feb, 8, ,, 1986, il, ##owe, #...","[O, O, O, O, O, O, B-BOD, I-BOD, I-BOD, I-BOD,...",40772A,English,train
9,y involved in community service initiatives.\n...,y involved in community service initiatives.\n...,"[{'value': 'Apr 29, 1973', 'start': 55, 'end':...","[[339, 355, ""TEL""], [314, 336, ""USERNAME""], [2...","[y, involved, in, community, service, initiati...","[O, O, O, O, O, O, O, O, O, O, O, O, O, B-BOD,...",40772B,English,train

Check your assigned rows: 
76,501-76,520 - Ayan
76,521-76,540 - Joy
76,541-76,560 - Shrieyaa
76,561-76,580 - Shubhangi
76,581-76,600 - Stella

In [25]:
print(train_df.iloc[76586]['source_text']) # failed to redact name
train_df.iloc[76586]['target_text']

Chère Madame [*Femme*] Jacqueline Dabtih,

Nous avons le plaisir de vous informer de votre acceptation dans le programme de mobilité éducative. Votre date de naissance, le [*14/09/1981*], correspond à nos critères d'admissibilité. Votre adresse e-mail, [*jaclyn.dabtih@gmail.com*], a été enre

"Chère Madame [*[SEX]*] Jacqueline Dabtih,\n\nNous avons le plaisir de vous informer de votre acceptation dans le programme de mobilité éducative. Votre date de naissance, le [*[BOD]*], correspond à nos critères d'admissibilité. Votre adresse e-mail, [*[EMAIL]*], a été enre"

In [29]:
print(train_df.iloc[76589]['source_text']) # seems like source data has already redacted medically sensitive PII
train_df.iloc[76589]['target_text']

ons médicales particulières : ...
Allergies connues : ...
Traitement médical en cours : ...
Personne à contacter en cas d'urgence : ...
Numéro de téléphone de la personne à contacter : ...

Date : ...01:40...
Signé(e) par l'étudiant(e) : ______
Signé(e) par le médecin : ______

"ons médicales particulières : ...\nAllergies connues : ...\nTraitement médical en cours : ...\nPersonne à contacter en cas d'urgence : ...\nNuméro de téléphone de la personne à contacter : ...\n\nDate : ...[TIME]...\nSigné(e) par l'étudiant(e) : ______\nSigné(e) par le médecin : ______"

In [30]:
print(train_df.iloc[76590]['source_text']) # 19ercolibertino@ seems to be username/has info that could hint at user's name
train_df.iloc[76590]['target_text']

"In the language proficiency assessment for the mobility program placement, we have assessed the students' abilities in French for their study in Switzerland. Among the students, we have:

- 1993sravanthi.cacciari@aol.com
- 083281153
- Z0ZEQQCS3VJX
- +31-419-177-8378
- B9{z9MA2f
- 15:14
- Cacciari

- 19ercolibertino@

'"In the language proficiency assessment for the mobility program placement, we have assessed the students\' abilities in French for their study in Switzerland. Among the students, we have:\n\n- [EMAIL]\n- [SOCIALNUMBER]\n- [DRIVERLICENSE]\n- [TEL]\n- [PASS]\n- [TIME]\n- [LASTNAME1]\n\n- 19ercolibertino@'

In [35]:
print(train_df.iloc[76594]['source_text']) # failed to eliminate IP address
train_df.iloc[76594]['target_text']

          <PhoneNumber>027.282.4871</PhoneNumber>
            <IPAddress>179.223.74.253</IPAddress>
        </Contact>
    </Student>
    <Student>
        <ID>756.3401.9637.90</ID>
        <Contact>
            <PhoneNumber>+41.31.556.4814</PhoneNumber>
            <IPAddress>25.117.34.243</IPAddress>
        </Contact>
    </Student>
    <Student>
        <ID>756.3540.9299.86</ID>
        <Contact>
            <PhoneNumber>+04 53-182 6121</PhoneNumber>
            <IPAddress>d504:519f:69b2:9f5

'          <PhoneNumber>[TEL]</PhoneNumber>\n            <IPAddress>[IP]</IPAddress>\n        </Contact>\n    </Student>\n    <Student>\n        <ID>[SOCIALNUMBER]</ID>\n        <Contact>\n            <PhoneNumber>[TEL]</PhoneNumber>\n            <IPAddress>[IP]</IPAddress>\n        </Contact>\n    </Student>\n    <Student>\n        <ID>[SOCIALNUMBER]</ID>\n        <Contact>\n            <PhoneNumber>[TEL]</PhoneNumber>\n            <IPAddress>d504:519f:69b2:9f5'

In [36]:
print(train_df.iloc[76595]['source_text']) # another failure to eliminate IP address
train_df.iloc[76595]['target_text']

1:faa7:eac4:c134:76cd</IPAddress>
        </Contact>
    </Student>
    <Student>
        <ID>756.6725.3019.63</ID>
        <Contact>
            <PhoneNumber>4385.869 7886</PhoneNumber>
            <IPAddress>130.225.23.84</IPAddress>
        </Contact>
    </Student>
    <Student>
        <ID>756.3318.9394.52</ID>
        <Contact>
            <PhoneNumber>+66-92-525.3066</PhoneNumber>
            <IPAddress>109.5.62.92</IPAddress>
        </Contact>
    </Student>
</Student_Risk_Assessment>

'1:faa7:eac4:c134:76cd</IPAddress>\n        </Contact>\n    </Student>\n    <Student>\n        <ID>[SOCIALNUMBER]</ID>\n        <Contact>\n            <PhoneNumber>[TEL]</PhoneNumber>\n            <IPAddress>[IP]</IPAddress>\n        </Contact>\n    </Student>\n    <Student>\n        <ID>[SOCIALNUMBER]</ID>\n        <Contact>\n            <PhoneNumber>[TEL]</PhoneNumber>\n            <IPAddress>[IP]</IPAddress>\n        </Contact>\n    </Student>\n</Student_Risk_Assessment>'

In [41]:
print(train_df.iloc[76600]['source_text']) # failed to eliminate country, date
train_df.iloc[76600]['target_text']

717897
- **IP Address:** 160.239.205.64
- **Time:** 7:04

*Student 3:*
- **Name:** Mademoiselle Hassania Kristyna Budd
- **Username:** 17hassania
- **Social Number:** 756.1813.0042.00
- **ID Card:** F2384580
- **IP Address:** 77.40.17.66
- **Time:** 3h

**Travel Details:**
- **Location:** Switzerland
- **Street:** Lochmattenweg
- **Date:** 31/10/2043

'717897\n- **IP Address:** [IP]\n- **Time:** [TIME]\n\n*Student 3:*\n- **Name:** [TITLE] [GIVENNAME1] [GIVENNAME2] [LASTNAME1]\n- **Username:** [USERNAME]\n- **Social Number:** [SOCIALNUMBER]\n- **ID Card:** [IDCARD]\n- **IP Address:** [IP]\n- **Time:** [TIME]\n\n**Travel Details:**\n- **Location:** Switzerland\n- **Street:** [STREET]\n- **Date:** 31/10/2043'